#content {
    height: 100%;
    width: 100%;
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/A2KqU29/seamless-blue-particle-background-in-4k_41uagba1l__F0000.png');
}
